@font-face{
    font-family:"SpecialElite";
    src:url(fonts/SpecialElite-Regular.ttf);
}
@font-face{
    font-family:"Supermercado";
    src:url(fonts/SupermercadoOne-Regular.ttf);
}
body{
    background-image:url(purpura.jpg);
    position:fixed;
    text-decoration-color: #93949B;
}
h1{
    width:90%;
    text-decoration-color:#BE97C6;
    position:fixed;
    text-align: center;
    margin-right:5%;
    margin-left: 5%;
    right:0;
   
}
#ladylazarus{
    position:relative;
    align-content: center;
    float:right;
    overflow: hidden;
    font-size: 12pt;
    margin-top: 70px;
    padding-bottom: 130px;
    background-color:rgba(177, 183, 209,0.5);
}
#parllaxsimpe{
    background-image: url(bluestreet.jpg);
    position:fixed;
 
}


#93949B

#815076

#7FD1B9

#042A2B