@font-face{
    font-family:"SpecialElite";
    src:url(fonts/SpecialElite-Regular.ttf);
}
@font-face{
    font-family:"Supermercado";
    src:url(fonts/SupermercadoOne-Regular.ttf);
}
body{
    background-image:url(purpura.jpg);
    position:fixed;
    text-decoration-color: #93949B;
}
h1{
    background-image: url(rain%20gif.jpg);
    width:90%;
    color:darkslategrey;
    position:fixed;
    text-align: center;
    margin-right:5%;
    margin-left: 5%;
    right:0;
   
}
#ladylazarus{
    position:relative;
    align-content: center;
    float:right;
    overflow: hidden;
    font-size: 12pt;
    margin-top: 70px;
    padding-bottom: 130px;
    background-image:url(sylvia-plath-450x450-9ae9-ff91-b5a2.jpg);
}
#parllaxsimpe{
    background-image: url(bluestreet.jpg);
    position:fixed;
 
}


#93949B

#815076

#7FD1B9

#042A2B